body {
  font-family: "Helvetica";
  background-color: #000;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 2em;
  color: white;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.status {
  position: absolute;
  width: 100%;
  text-align: center;
  color: greenyellow;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  font-size: 30px;
  padding: 40px 0;
}

.status-touching {
  color: #f00;
  font-size: 36px;
  text-shadow: 0px 0px 1px black;
}

.predictions-buttons {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

video {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 100vh;
}

.button-block {
  width: fit-content;
  display: inline-block;
  margin: 0 1em;
}

.button-block button {
  /* margin-right: 1em; */
  border: none;
  background-color: lightgrey;
  padding: 1em 2em;
  border-radius: 0.2em;
  margin-bottom: 1em;
  background: #d91668;
  color: white;
  border: 1px solid #352e4d;
  font-size: 14px;
  font-weight: 400;
  margin: 1em auto;
  display: block;
}

.training-section {
  vertical-align: middle;
  position: absolute;
  display: flex;
  bottom: 20px;
  justify-content: center;
  width: 100%;
}

.buttons-section {
  width: fit-content;
  margin: 0 auto;
}

.examples-text {
  color: #fff;
}

.test-predictions {
  cursor: pointer;
  text-align: center;
  margin: 0 1em;
  display: block;
  background: #f00;
  width: 100px;
  height: 100px;
  padding: 1em;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  border: none;
  font-size: 20px;
}

.no-display {
  display: none;
}

.display {
  display: block;
}
